ul.validation-errors li.validation-message {
    color: var(--mud-palette-error)
}

#GlobalSearch .mud-input-text {
    margin-top: 10px;
}

.mud-avatar-filled {
    background-color: #e8e8e8
}

div.body-text-display p {
    margin-bottom: 10px;
}

div.body-text-display ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 10px;
}

div.body-text-display ol {
    padding-left: 15px;
    margin-bottom: 10px;
}

