ul.validation-errors li.validation-message {
    color: var(--mud-palette-error)
}

#GlobalSearch .mud-input-text {
    margin-top: 10px;
}

.mud-avatar-filled {
    background-color: #e8e8e8
}

div.body-text-display p {
    margin-bottom: 10px;
}

div.body-text-display ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 10px;
}

div.body-text-display ol {
    padding-left: 15px;
    margin-bottom: 10px;
}

div.comment-display {
    max-width: 1000px;
}

div.comment-display p {
    margin-bottom: 10px;
}

div.comment-display ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 10px;
}

div.comment-display ol {
    padding-left: 15px;
    margin-bottom: 10px;
}

button.icon-light-grey svg.mud-icon-root.mud-svg-icon {
    fill: #00000042;
}

.mud-table-dense * .mud-table-row .mud-table-cell {
    padding: 6px 12px 6px 8px;
}

.mud-table-dense * .mud-table-row .variant-photo-sku-cell {
    padding: 6px 2px 6px 6px;
}

div.copywriting-description-display p {
    margin-bottom: 10px;
}

div.copywriting-description-display ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 10px;
}

div.copywriting-description-display ol {
    padding-left: 15px;
    margin-bottom: 10px;
}