<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net7.0</TargetFramework>
    <ProjectGuid>c1f0b478-62a2-4056-8180-7ee45b4674aa</ProjectGuid>
    <SelfContained>false</SelfContained>
    <publishUrl>D:\Projekty\MarketplaceBetter\MarketplaceBetter.Web\bin\Prod</publishUrl>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
  <PropertyGroup>
    <EnvironmentName>Prod</EnvironmentName>
  </PropertyGroup>
</Project>